SERVER_PORT = 3000

# Database

MONGO_URI = mongodb://localhost:27017/Online-Shop

REDIS_URI = redis://localhost:6379/

# JWT

JWT_SECRET_ACCESS_TOKEN = 343afc19-2204-49ba-97db-32c3ce3567f9

JWT_SECRET_REFRESH_TOKEN = a09955e4-067b-4cb9-8fbe-25475c69665a

ACCESS_TOKEN_EXPIRES_IN_MINUTES = 15m

REFRESH_TOKEN_EXPIRES_IN_DAYS = 30d # 30 days

REFRESH_TOKEN_EXPIRE_TIME_IN_REDIS = 2592000 # 30 days in seconds


# Google Auth

GOOGLE_CLIENT_ID = Your Google Client ID

GOOGLE_CLIENT_SECRET = Your Google Client Secret

DOMAIN = http://127.0.0.1:3000

# SMS OTP

OTP_PATTERN = your pattern

OTP_USER = your userName

OTP_PASS = your password

nodemailerEmailAccount = your email

nodemailerPasswordAccount = your password

# Zarinpal (Test Service 'sandbox')

ZARINPAL_API_BASE_URL = https://sandbox.zarinpal.com/pg/v4/payment

ZARINPAL_PAYMENT_BASE_URL = https://sandbox.zarinpal.com/pg/StartPay/

ZARINPAL_MERCHANT_ID = 0d2f8625-7c1d-40ef-a080-597bf4004c4b

ZARINPAL_PAYMENT_CALLBACK_URL = http://localhost:3000/api/v1/checkout/verify


NODE_ENV = development

